# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
# Only exists if Bazel was run
frontend/bazel-out

# Dependencies
frontend/node_modules

# Cordova
frontend/www
frontend/plugins
frontend/platforms

# Electron
frontend/dist-electron
frontend/dist-packages
frontend/electron.main.js

# IDEs and editors
frontend/.idea/*
frontend/!.idea/runConfigurations/
frontend/!.idea/codeStyleSettings.xml
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/xcuserdata/
frontend/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Maven
frontend/target
frontend/log

# Misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/npm-debug.log
frontendyarn-error.log
frontend/testem.log
frontend/typings
frontend/reports
frontend/src/translations/template.*
frontend/src/environments/.env.*

# System Files
.DS_Store
Thumbs.db

# Binaries for programs and plugins
backend/*/*.exe
backend/*/*.exe~
backend/*/*.dll
backend/*/*.so
backend/*/*.dylib

# Test binary, built with `go test -c`
backend/*/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
backend/*/*.out

#Environment
backend/*/.env
