<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button>
        <app-language-selector></app-language-selector>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img width="25px" src="../../assets/ngx-rocket-logo.png" />
      <span translate>APP_NAME</span></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="cats-div">
      <span class="home-subtitle" translate>URL shortener, shorts your links</span>
    </div>
    <div class="home-div">
      <span class="home-title"
        ><b
          ><span translate>Here you have full</span>
          <span style="color: var(--ion-color-secondary)" translate>control</span> <span translate>over your</span>
          <span style="color: var(--ion-color-secondary)" translate>links</span></b
        ></span
      >
      <span class="home-description" translate>
        <div>
          <p style="display: inline" translate>Link Management Platform with all features you need in one place.</p>
          <p style="display: inline" translate>Shorten your long links and make easy to share with others.</p>
        </div>
      </span>
    </div>
    <div class="home-bottom-shape"></div>
  </div>

  <div style="padding-left: 2%; padding-right: 2%; padding-bottom: 2%">
    <ion-item no-lines>
      <ion-label color="primary"><b translate>Shorten your long URL</b></ion-label>
    </ion-item>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input
            placeholder="https://google.com"
            type="text"
            (keyup.enter)="shortURL(inputURL)"
            [(ngModel)]="inputURL"
          >
          </ion-input>
          <ion-buttons item-end>
            <ion-button fill="solid" color="primary" shape="round" (click)="shortURL(inputURL)">
              <ion-icon size="large" color="light" name="cut-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div class="filters">
      <ion-searchbar [(ngModel)]="searchCard" class="searchbar"></ion-searchbar>
      <ion-buttons item-end>
        <ion-button fill="solid" color="primary" (click)="sortCards()" class="sort-button">
          Date
          <span [hidden]="sortButton">&uarr;</span>
          <span [hidden]="!sortButton">&darr;</span>
        </ion-button>
      </ion-buttons>
    </div>

    <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
    <ion-card *ngFor="let card of URLCards | appFilter: searchCard">
      <ion-card-header color="primary">
        <ion-item color="primary" lines="none">
          <h2>{{ card.hostname }}</h2>
          <div class="delete-button">
            <ion-button fill="clear" (click)="deleteCard(card)">
              <ion-icon size="medium" color="light" name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <a href="{{ card.short_url }}">{{ card.short_url }}</a>
          <ion-buttons item-end>
            <ion-button (click)="copyURL(card.short_url)">
              <ion-icon size="large" color="primary" name="copy-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item lines="none">
          <b><span translate>Redirect url:</span></b
          >&nbsp; {{ card.long_url }}
        </ion-item>
        <ion-item lines="none">
          <b><span translate>Creation date:</span></b
          >&nbsp; {{ card.created_at * 1000 | date: 'dd/MM/yyyy, hh:mm a' }}
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
