/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~@ionic/angular/css/ionic.bundle.css";

// Theme customization
@import "theme/theme";

.searchbar-input.sc-ion-searchbar-md {
  border-radius: 25px;
  background-position: left 8px center;
  height: auto;
  font-size: 1.1rem;
  font-weight: 400;
  color: #7f8490;
  background-color: white;
  -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
}
