<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="cats-div">
      <span class="home-subtitle">Acortador de URL, acortador de enlaces</span>
    </div>
    <div class="home-div">
      <span class="home-title"
        ><b
          >Here you have full <span style="color: var(--ion-color-secondary)">control</span> over your
          <span style="color: var(--ion-color-secondary)">links</span></b
        ></span
      >
      <span class="home-description"
        >Link Management Platform with all features you need in one place. Shorten your long links and make easy to
        share with others.</span
      >
    </div>
    <div class="home-bottom-shape"></div>
  </div>

  <div style="padding: 2%">
    <ion-item no-lines>
      <ion-label color="primary"><b>Shorten your long URL</b></ion-label>
    </ion-item>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input placeholder="https://google.com" type="text" [(ngModel)]="inputURL"></ion-input>

          <ion-buttons item-end>
            <ion-button fill="solid" color="primary" shape="round" (click)="shortURL(inputURL)">
              <ion-icon size="large" color="light" name="cut-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let card of URLCards">
      <ion-card-header>
        <ion-title>
          Link Shorted: <a href="{{ card.short_url }}">{{ card.short_url }}</a></ion-title
        >
      </ion-card-header>
      <ion-card-content>
        <ion-item> <b>Redirect url: </b> {{ card.long_url }} </ion-item>
        <ion-item> <b>Creation date:</b> {{ card.created_at }} </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
