<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="cats-div">
      <span class="home-subtitle">Acortador de URL, acortador de enlaces</span>
    </div>
    <div class="home-div">
      <span class="home-title"
        ><b
          >Here you have full <span style="color: var(--ion-color-secondary)">control</span> over your
          <span style="color: var(--ion-color-secondary)">links</span></b
        ></span
      >
      <span class="home-description"
        >Link Management Platform with all features you need in one place. Shorten your long links and make easy to
        share with others.</span
      >
    </div>
  </div>
</ion-content>
