<ion-header>
  <ion-toolbar color="primary">
    <ion-title><span translate>Settings</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label translate>Account</ion-label>
    </ion-list-header>
    <ion-item button>
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label translate>Profile</ion-label>
    </ion-item>
    <ng-container *ngIf="isWeb">
      <ion-list-header>
        <ion-label translate>Preferences</ion-label>
      </ion-list-header>
      <app-language-selector type="item"></app-language-selector>
    </ng-container>
  </ion-list>
</ion-content>
